@charset "utf-8";
/* CSS Document */
body{
	margin:0; padding:0; font-size:12px; font-family:"Microsoft YaHei"; line-height:25px; color:#555555;
}
div,table{
	margin:0 auto;
}
a{
	color:#555555; text-decoration:none; cursor:pointer;
}
fixed-top {
                display:inline-flex;
               
			    top: 0; /* 距离顶部0 */
			    left: 4%; /* 距离左侧0 */
			    width: 100%; /* 宽度设置为100% */
			    background-color: grey; /* 背景颜色 */
			    height:60px;
			  
			    position:fixed;
			    z-index: 1000;
			     width:93%;
			    align-items:center;

		}
			box-gps {       
		        width: 9%;
		        height: 100%;
		        background-color: none;
		        position: relative;
		        color:white;
		    	text-align:center;
		        font-size:19px;
		        letter-spacing:0px;
		    }
		
		    box-gps::after {
		        content: '';
		        position: absolute;
		        left: 0;
		        bottom: 0;
		        width: 100%;
		        height: 3px;
		        background-color: white;
		        transform: scaleX(0);
		        transition: transform 0.3s;
		    }
		
		    box-gps:hover::after {
		        transform: scaleX(1);
		    }
a:hover{
	color:rgba(97, 191, 173, 0.8); text-decoration:none; cursor:pointer;
}
img{
	border:0;
}
ul,li,dl,dt,dd{
	list-style:none; margin:0; padding:0;
}
input,io,select,checkbox{
	vertical-align:middle;
}
h1,h2,h3,h4,h5,h6{
	padding:0; margin:0 auto;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
form{
	margin:0; padding:0;
}
.none{
	display:none;
}

/*html{ 
	-webkit-filter:grayscale(100%); filter:grayscale(100%);
}
html { overflow-y:scroll; filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); -webkit-filter: grayscale(100%);}*/

/*html{
	filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);	
}*/



/*---------------header---------------*/
.soubg{
	width:100%; min-width:1200px; height:35px; background-color:#f6f6f6; font-family:"宋体";
}
.sou{
	width:1200px; height:35px; line-height:35px;
}
.s_city_b{
	width:150px; height:35px; float:left;
}
.s_city{
	height:35px; background:url(../images/t_arrow.gif) no-repeat right center; float:left; padding-right:15px; cursor:pointer; position:relative;
}
.s_city:hover .s_city_bg{
	display:block;
}
.s_city_bg{
	width:254px; overflow:hidden; position:absolute; left:-50px; top:29px; z-index:900; display:none;
}
.s_city_t{
	width:9px; height:7px; line-height:7px; overflow:hidden; background:url(../images/c_t.gif) no-repeat center top; position:absolute; left:55px; top:0;
}
.s_city_c{
	width:252px; height:460px; overflow:hidden; background-color:#FFF; font-family:"Microsoft YaHei"; margin-top:6px; border:1px solid #cdcdcd;
}
.s_city_c h2{
	width:230px; height:29px; line-height:29px; overflow:hidden; font-size:14px; font-weight:normal; text-align:left; margin-top:5px; border-bottom:1px dotted #666666;
}
table.c_tab tr th{
	line-height:26px; font-weight:normal; color:#000; width:20px; text-transform:uppercase;
}
.c_h span{
	line-height:26px; float:left; display:inline; padding:0 3px; margin-right:3px; cursor:pointer;
}
.c_h span:hover{
	color:rgba(97, 191, 173, 0.8);
}
.c_h span.c_check{
	color:#FFF; background-color:#ff4e00;
}
/*.s_log{
	width:220px; height:35px; overflow:hidden; float:left;
}*/
.ss{
	width:225px; height:35px; float:left;
}
.ss_list{
	height:35px; background:url(../images/t_arrow.gif) no-repeat right center; float:left; display:inline; margin-left:10px; padding-right:15px; cursor:pointer; position:relative;
}
.ss_list:hover .ss_list_bg{
	display:block;
}
.ss_list_bg{
	width:116px; overflow:hidden; position:absolute; left:50%; top:29px; margin-left:-58px; z-index:900; display:none;
}
.ss_list_t{
	height:7px; line-height:7px; overflow:hidden; background:url(../images/c_t.gif) no-repeat center top; position:absolute; left:0; top:0;
}
.ss_list_c{
	overflow:hidden; background-color:#FFF; font-family:"Microsoft YaHei"; margin-top:6px; padding:10px 0; border:1px solid #cdcdcd;
}
.ss_list_c ul li{
	height:25px; line-height:25px; overflow:hidden; text-align:center;
}
.s_sh{
	width:55px; height:35px; overflow:hidden; float:left;
}
.s_sh a{
	width:20px; height:35px; line-height:35px; overflow:hidden; float:left; display:inline; margin:0 3px; text-indent:-9999em;
}
.s_sh a.sh1{
	background:url(../images/sh1.png) no-repeat center 8px;
}
.s_sh a.sh2{
	background:url(../images/sh2.png) no-repeat center center;
}	


.top{
	width:1200px; height:140px;
}
.logo{
	width:207px; height:55px; overflow:hidden; float:left; display:inline; margin-top:40px;
}
.search{
	width:550px; height:95px; overflow:hidden; float:left; display:inline; margin-left:134px; margin-top:20px;
}

.s_ipt{
	width:428px; height:50px; line-height:36px\9; overflow:hidden; color:#555555; font-size:15px; font-family:"Microsoft YaHei"; float:left; padding:0 10px; border:2px solid rgba(97, 191, 173, 0.5); border-right:0;margin-top:5px;z-index:20;
}
.s_btn{
	width:90px; height:54px; line-height:40px\9; background-color: rgba(97, 191, 173, 0.5);
color:#FFF; font-size:16px; font-family:"Microsoft YaHei"; text-align:center; float:left; border:0; cursor:pointer;margin-top:5px;
}
.s_btn:hover {
background-color:rgba(97, 191, 173, 0.4);
}
.search a{
	margin-right:12px; display:inline-block;
}

.i_car{
	width:141px; height:38px; line-height:38px; background:url(../p/selltb.png) no-repeat 10px center; background-size:25px; float:right; margin-top:50px; border:1px solid #d9d9d9; position:relative;
}
.car_t{
	width:95px; height:38px; overflow:hidden; background:url(../images/d_arrow.png) no-repeat right center; font-size:14px; margin-left:38px; cursor:pointer;
}
.car_t span{
	color:grey;
}
.i_car:hover .car_bg{
	display:block;
}
.car_bg{
	width:283px; overflow:hidden; background-color:#FFF; border:1px solid #d9d9d9; position:absolute; right:-1px; top:38px; z-index:900; display:none;
}
.un_login{
	overflow:hidden; text-align:center; margin:15px auto;
}
ul.cars{
	overflow:hidden;
}
ul.cars li{
	height:70px; overflow:hidden; margin-top:10px; border-bottom:1px solid #e2e2e2;
}
ul.cars li .img{
	width:58px; height:58px; overflow:hidden; float:left; display:inline; margin-left:15px; border:1px solid #e2e2e2;
}
ul.cars li .name{
	width:180px; height:40px; line-height:20px; overflow:hidden; color:#888888; font-family:"宋体"; float:left; display:inline; margin-left:8px;
}
ul.cars li .name a{
	color:#888888;
}
ul.cars li .name a:hover{
	color:rgba(97, 191, 173, 0.5);
}
ul.cars li .price{
	width:180px; height:20px; line-height:20px; overflow:hidden; color:#888888; font-size:14px; float:left; display:inline; margin-left:8px;
}
.price_sum{
	width:255px; height:30px; line-height:30px; overflow:hidden; font-size:14px; text-align:right; margin-top:10px;
}
.price_sum span{
	color:#ff4e00; font-size:20px; font-weight:bold;
}
.price_a{
	width:120px; height:35px; line-height:35px; overflow:hidden; background:url(../images/a_link.gif) repeat-x center top; color:#FFF; font-size:14px; text-align:center; margin-right:13px; margin-top:5px; margin-bottom:20px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
}
.price_a a{
	color:#FFF;
}



.menu_bg{
	width:100%; min-width:1200px; height:38px; border-bottom:2px solid lightgrey;
}
.menu{
	width:1200px; height:43px; line-height:43px; color:#3e3e3e; font-size:16.6px; position:relative; z-index:800;
}
ul.menu_r{
	width:720px; height:40px; overflow:hidden; float:left; display:inline; margin-left:231px;
}
ul.menu_r li{
	width:80px; height:40px; line-height:40px; overflow:hidden; text-align:center; float:left; display:inline; margin-right:10px;
}
ul.menu_r li a{
	width:70px; height:40px; overflow:hidden; float:left; color:#3e3e3e;
}
ul.menu_r li a:hover, ul.menu_r li a.now{
	color:rgba(97, 191, 173, 0.78);
}
.m_ad{
	width:260px; height:43px; line-height:40px; overflow:hidden; color:#ff3600; font-size:20px; font-weight:bold; text-align:right; float:right;
}

.nav{
	width:211px; height:45px; background-color:rgba(139, 214, 121, 0.2); position:absolute; left:0px; top:39px;
}
.nav1{
	width:211px; height:45px; background-color:#E8E8E8; position:absolute; left:0px; top:39px;
}
.nav_t{
	width:211px; height:43px; line-height:43px; overflow:hidden; color:#686868; font-size:16px; text-indent:35px;
}	
.leftNav{
	width:211px; height:412px;; position:absolute; left:0; top:44px;
}

.none{
	display:none;
}
.leftNav ul li{ height:50px; line-height:40px; background:url(../images/n_arrow.gif) no-repeat 195px center; color:#686868; font-size:14px; margin-left:1px; cursor:pointer; position:relative; font-size:16px;}

.leftNav ul li .n_img{
	width:20px; height:21px; overflow:hidden; text-align:center; float:left; display:inline; margin-left:10px; margin-right:10px; margin-top:10px;
}
.leftNav ul li .n_img span{
	height:100%; vertical-align:middle; display:inline-block;
}
.leftNav ul li .n_img img{
	vertical-align:middle;
}
/*.leftNav ul li a{ color:#6e6e6e; }
.leftNav ul li a:hover{ color:#e02d02; }*/
.leftNav ul li ul{ width:220px; min-height:70px; overflow:hidden; background:url(../images/nav_bg.png) repeat center top; position:absolute; left:196px; top:0px; border:1px solid #d4d2d2; border-left:0px; z-index:900; display:none; }

.leftNav ul li ul li{ width:195px; height:auto; line-height:25px; overflow:hidden; font-size:12px; font-weight:normal; background:none; margin:10px auto; padding:0px 0px 5px 0px; border-bottom:1px dashed #d1d0d1; }

.leftNav ul li ul li a{ color:#989797; margin:0px 10px; }

.leftNav ul li ul li a:hover{ color:blue }

.leftNav ul li ul li .n_t{ width:50px; height:20px; line-height:20px; overflow:hidden; text-align:center; font-weight:bold; float:left; }

.leftNav ul li ul li .n_c{ width:142px; overflow:hidden; float:left; }

.leftNav ul li ul li .n_c a{ width:60px; height:20px; line-height:20px; overflow:hidden; float:left; display:inline-block; margin:0px 0px 0px 10px; }

.leftNav ul li .fj{ width:210px; height:40px; line-height:40px; display:block; overflow:hidden; position:absolute; left:0; top:0; z-index:901; }
/* 就这个 */

.leftNav ul li .fj.nuw{	width:211px; text-decoration:none; height:40px; line-height:40px; background-color:#FFF; color:rgba(97, 191, 173, 0.9); z-index:800px; }

.leftNav .zj{ 
	width:755px; height:411px; overflow:hidden; background-color:#FFF; position:absolute; left:210px; top:0; display:none; 
}
.leftNav .zj .zj_l{
	width:755px; height:385px; overflow:hidden; float:left; display:inline; margin-left:20px; margin-top:15px;
}
.leftNav .zj .zj_l_c{
	width:250px; height:108px; line-height:25px; overflow:hidden; color:#dbdbdb; float:left; display:inline; margin-right:50px; margin-bottom:25px;
}
.leftNav .zj .zj_l_cc{font-size:20px;}
.leftNav .zj .zj_l_c h2{
	height:30px; line-height:25px; color:#3e3e3e; font-size:14px; font-weight:bold; margin-bottom:5px; margin-left:10px;
}
.leftNav .zj .zj_l_c a{
	line-height:22px; font-size:13px; font-family:"宋体"; padding:0 10px; margin:0;
}
.leftNav .zj .zj_r{
	width:236px; height:40px; overflow:hidden; float:right; display:inline; margin-right:10px; margin-top:5px;
}
.leftNav .zj .zj_r img{
	width:236px; height:200px; display:block; margin-bottom:1px;
}





/*---------------首页---------------*/
.i_bg{
	width:100%; min-width:1200px; overflow:hidden;
}
.bg_color{
	 background-color:#f6f6f6;
}
	
.content{
	width:1200px; overflow:hidden;
}
.mar_5{
	margin-top:5px;
}
.mar_10{
	margin-top:10px;
}
.mar_15{
	margin-top:15px;
}
.mar_20{
	margin-top:20px;
}


.i_ban_bg{
	width:1200px; height:401px; margin-top:10px;
}


.banner{
	width:740px; height:401px; overflow:hidden; float:left; display:inline; margin-left:223px;
}
.banner .top_slide_wrap{ width:740px; height:401px; overflow:hidden; position:relative; z-index:1; }
.banner .slide_box{ height:401px; overflow:hidden; }
.banner .slide_box li{ height:401px; position:relative; }
.banner .slide_box li a{ width:740px; height:401px; display:block; }
.banner .slide_box img{ text-align:center; height:420px; }
.banner .slide_info{ width:740px; margin:-530px auto 0; }
.banner .slide_info_card{width:420px;height:0;margin-top:171px;color:#fff;position:relative;}
.banner .slide_info_card a{color:#fff;text-decoration:none}
.banner .slide_info_card .slide_info_card_bg{width:420px;height:200px;background:#0071c6;position:absolute;top:0;left:0;z-index:1;opacity:.8;*filter:alpha(opacity=80)}
.banner .slide_info_card .slide_info_card_text{width:340px;height:140px;padding:30px 40px;position:absolute;top:0;left:0;z-index:2}
.banner .slide_info_card h2{font-size:40px;padding-bottom:8px}
.banner .slide_info_card p{font-size:15px;line-height:26px}
.banner .slide_info_card p strong{font-size:12px;height:25px;display:inline-block;padding:0 10px;background:#095b99;border-radius:5px;color:#fff;margin-top:8px}
/* op_btns */
.banner .op_btns{ width:740px; margin-top:-730px;  position:relative; z-index:3; }
.banner .op_btns .op_btn{display:block; width:32px; height:60px; cursor:pointer; overflow:hidden; position:absolute; margin-top:80px;  }
.banner .op_btns .op_prev{ background:url(../images/b_left.png) no-repeat center top; left:0; top:420px; }
.banner .op_btns .op_next{ background:url(../images/b_right.png) no-repeat center top; right:0; top:420px; }
.banner .op_btns .op_prev span, .banner .op_btns .op_next span{ display:block; width:32px; height:60px; margin:8px 0 0 17px; cursor:pointer; }
.banner .op_btns .op_prev span{background-position:0 0;}
.banner .op_btns .op_next span{background-position:-73px 0;margin-left:20px;}
/* bx-controls */
.banner .bx-wrapper .bx-controls{margin-top:-44px;}
.banner .bx-wrapper .bx-controls .bx-pager{clear:both; text-align:center;position:relative; overflow:hidden; }
.banner .bx-wrapper .bx-controls .bx-pager a{ width:15px; height:15px; line-height:15px; display:inline-block;overflow:hidden;  margin:15px 5px; background:url(../images/b.png) no-repeat center top; }
.banner .bx-wrapper .bx-controls .bx-pager a:hover, .banner .bx-wrapper .bx-controls .bx-pager a.active{ background:url(../images/b_h.png) no-repeat center top; }


.inews{
	width:225px; height:399px; background-color:#FFF; float:right; border:1px solid #d9d9d9;
}
.news_t{
	height:39px; line-height:39px; overflow:hidden; color:#3e3e3e; font-size:16px; padding:0 10px; border-bottom:1px dotted #d9d9d9;
}
.news_t span{
	font-size:12px;	color:#888888;
}
.inews a{
	color:#888888;
}
.inews a:hover{
	color:rgba(97, 191, 173, 0.8);
}
.inews ul{
	height:150px; margin:10px 10px 20px 10px;
}
.inews ul li{
	height:30px; line-height:30px; overflow:hidden; color:#888888;
}
.inews ul li span{
	color:#3e3e3e; margin-right:10px;
}
.charge_t{
	height:39px; line-height:39px; color:#3e3e3e; font-size:16px; padding:0 10px; margin-top:10px; border-top:1px solid #d9d9d9; border-bottom:1px dotted #d9d9d9; position:relative;
}
.ch_t_icon{
	width:11px; height:7px; line-height:7px; overflow:hidden; background:url(../images/d_a.gif) no-repeat center top; position:absolute; left:28px; top:39px;
}
.c_ipt{
	width:96px; height:23px; line-height:23px\9; background-color:#FFF; color:#555555; font-size:12px; font-family:"Microsoft YaHei"; font-size:15px; padding:0 10px; border:1px solid #d9d9d9;
}

.jslct{
	width:116px; height:23px; line-height:23px; display:inline-block; *display:inline; zoom:1; color:#555555; font-size:12px; font-family:"Microsoft YaHei"; position:relative; z-index:0; vertical-align:middle; cursor:default; background:url(../images/d_arrow.png) no-repeat 97px center; float:left; border:1px solid #d9d9d9;
}
.jslct_hover {
	border:1px solid #d9d9d9;
}
.jslct div.jslct_t{
	padding:0 45px 0 5px;
	line-height:23px;
	height:23px;
	position:relative;
	z-index:2;
	*display:block!important;
	*display:inline;
	zoom:1;
}
.jslct em {
	font-style:normal;
	margin:0;
	padding:0;
	line-height:23px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.jslct dl, .jslct dl dd {
	padding:0;
	margin:0;
	list-style:none
}
.jslct dl {
	background:#fff;
	position:absolute;
	top:23px;
	left:-1px;
	border:1px solid #d9d9d9;
	cursor:default;
	line-height:22px;
	padding:4px 4px 4px 4px;
	z-index:1;
	display:none;
}
.jslct_hover dl {
	border:1px solid #d9d9d9!important
}
.jslct dl dd {
	padding:0px 4px 2px 4px;
	*padding:2px 4px 0 4px;
	border-top:1px dotted #ccc!important;
	border-top:1px dotted #d9d9d9;
	white-space:nowrap;
	background:#fff;
	cursor:pointer;
	*border-left:1px solid #fff;
}
.jslct dl dd.hover {
	background:#666;
	color:#fff;
}
.jslct .jslcted {
	background:#efefef;
}
.jslct dl dd.noborder {
	border:none!important
}

.c_btn{
	width:80px; height:26px; line-height:26px\9; background-color:#ff4e00; color:#FFF; font-size:12px; font-family:"Microsoft YaHei"; text-align:center; float:left; border:0; cursor:pointer; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
}



/*----------首页（热门商品）-----------*/
.h_l_img{
	width:211px; height:230px; overflow:hidden; background-color:rgba(97, 191, 173, 0.27); float:left; position:relative;
}
.h_l_img .img{
	width:188px; height:188px; margin-top:8px;
}
.h_l_img .img img{
	/*-moz-transform:scale(1,1); -webkit-transform:scale(1,1); -o-transform:scale(1,1); -ms-transform:scale(1,1); transform:scale(1,1);
	-moz-transition-duration:600ms; -webkit-transition-duration:600ms; -o-transition-duration:600ms; -ms-transition-duration:600ms; transition-duration: 600ms;
	-moz-transition-property:all; -webkit-transition-property:all; -o-transition-property:all; -ms-transition-property:all; transition-property:all; 
	-moz-transition-timing-function:ease-out; -webkit-transition-timing-function: ease-out; -o-transition-timing-function:ease-out; -ms-transition-timing-function:ease-out; transition-timing-function:ease-out;*/
	-webkit-transition:all .5s; -moz-transition:all .5s; -o-transform:all .5s; -ms-transform:all .5s; transition:all .5s;
}
.h_l_img:hover img{	
	-moz-transform:scale(1.1,1.1); -webkit-transform:scale(1.1,1.1); -o-transform:scale(1.1,1.1); -ms-transform:scale(1.1,1.1); transform:scale(1.1,1.1);
}
.h_l_img .pri_bg{
	width:100px; height:20px; line-height:20px; color:#ff4e00; overflow:hidden; position:absolute; left:50%; margin-left:-50px; bottom:5px;
}
.h_l_img .price{
	height:20px; line-height:20px; overflow:hidden; background-color:rgba(97, 191, 173, 0.59); color:#FFF; font-size:14px; text-align:center; float:left; padding:0 5px; margin-right:5px;
}

.hot_pro{
	width:975px; height:228px; overflow:hidden; background-color:#FFF; float:right; border:1px solid #eaeaea;
}
.hot_pro #featureContainer{
	width:975px; height:228px; overflow:hidden;
}
.hot_pro #feature{
	width:975px; height:228px; overflow:hidden; position:relative;
}
.hot_pro #feature .button{
	width:975px; position:absolute; left:0px; top:0px;
}
.hot_pro #feature .h_prev{
	width:32px; height:60px; overflow:hidden; background:url(../images/b_left.png) no-repeat center top; display:block; text-indent:-9999px; float:left; position:absolute; left:0px; top:84px;
}
.hot_pro #feature .h_next{
	width:32px; height:60px; overflow:hidden; background:url(../images/b_right.png) no-repeat center top; display:block; text-indent:-9999px; float:left; position:absolute; right:0px; top:84px;
}
.hot_pro .featureUL{
	width:2800px; height:375px; overflow:hidden; float:left; position:relative;
}
.hot_pro .featureBox{
	width:243px; height:228px; overflow:hidden; background:url(../images/line.gif) no-repeat right 122px; float:left; border-right:1px solid #eaeaea; position:relative;
}
.hot_pro #botton-scroll{
	width:975px; height:228px; overflow:hidden; float:left; z-index:0;
}
.hot_pro #block{
	width:975px; height:228px; overflow:hidden; position:relative; z-index:0;
}
.hot_pro #block .box {
	width:243px; height:228px; overflow:hidden; margin:0 auto; position:relative;
}
.hot_pro #block .box .h_icon{
	width:50px; height:50px; overflow:hidden; position:absolute; left:10px; top:10px; z-index:100;
}
.hot_pro #block .box .imgbg{
	width:160px; height:136px; margin-top:5px;
}
.hot_pro #block .box .imgbg img{
	-webkit-transition:all .5s; -moz-transition:all .5s; -o-transform:all .5s; -ms-transform:all .5s; transition:all .5s;
}
.hot_pro #block .box .imgbg:hover img{	
	-moz-transform:scale(1.1,1.1); -webkit-transform:scale(1.1,1.1); -o-transform:scale(1.1,1.1); -ms-transform:scale(1.1,1.1); transform:scale(1.1,1.1);
}
.hot_pro #block .box .name{
	height:40px; line-height:20px; overflow:hidden; color:#888888; font-size:12px; text-align:center; margin-top:10px;
}
.hot_pro #block .box .name h2{
	height:20px; line-height:20px; overflow:hidden; color:#555555; font-size:16px; text-align:center;
}
.hot_pro #block .box .name h2 a{
	color:#555555;
}
.hot_pro #block .box .name h2 a:hover{
	color:#555555; text-decoration:underline;
}
.hot_pro #block .box .name a{
	color:#888888;
}
.hot_pro #block .box .name a:hover{
	color:#888888; text-decoration:underline;
}
.hot_pro #block .box .price{
	height:30px; line-height:30px; overflow:hidden; color:#999999; text-align:center; text-transform:uppercase;
}
.hot_pro #block .box .price font{
	color:rgba(97, 191, 173, 1.0); font-size:14px;
}
.hot_pro #block .box .price span{
	font-size:20px;
}



/*---------------登录、注册---------------*/
.log_bg{
	width:100%; min-width:1200px; height:840px; overflow:hidden; background-color:#EAEEEE;
}
.login{
	width:1200px; overflow:hidden; margin-top:45px;
}
.log_img{
	width:611px; height:425px; overflow:hidden; float:left; margin-top:40px;
}.log_img2{
	width:611px; height:425px; overflow:hidden; float:left; margin-top:20px;
}
.log_c{
	width:455px; height:385px; overflow:hidden; background-color:#FFF; float:right; display:inline; margin-top:40px; margin-right:10px; margin-bottom:10px; -webkit-box-shadow:0 0 5px #e0e0e0; -moz-box-shadow:0 0 5px #e0e0e0; box-shadow:0 0 5px #e0e0e0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
}
.l_user{
	width:267px; height:38px; line-height:38px\9; overflow:hidden; background:url(../images/i_u.png) no-repeat 285px center; background-color:#FFF; color:#888888; font-size:14px; font-family:"Microsoft YaHei"; padding:0 40px 0 10px; border:1px solid #cccccc;
}
.l_pwd{
	width:267px; height:38px; line-height:38px\9; overflow:hidden; background:url(../images/i_pwd.png) no-repeat 285px center; background-color:#FFF; color:#888888; font-size:14px; font-family:"Microsoft YaHei"; padding:0 40px 0 10px; border:1px solid #cccccc;
}
.l_email{
	width:267px; height:38px; line-height:38px\9; overflow:hidden; background:url(../images/i_email.png) no-repeat 285px center; background-color:#FFF; color:#888888; font-size:14px; font-family:"Microsoft YaHei"; padding:0 40px 0 10px; border:1px solid #cccccc;
}
.l_tel{
	width:267px; height:38px; line-height:38px\9; overflow:hidden; background:url(../images/i_tel.png) no-repeat 285px center; background-color:#FFF; color:#888888; font-size:14px; font-family:"Microsoft YaHei"; padding:0 40px 0 10px; border:1px solid #cccccc;
}
.l_mem{
	width:267px; height:38px; line-height:38px\9; overflow:hidden; background:url(../images/i_mem.png) no-repeat 285px center; background-color:#FFF; color:#888888; font-size:14px; font-family:"Microsoft YaHei"; padding:0 40px 0 10px; border:1px solid #cccccc;
}
.l_num{
	width:267px; height:38px; line-height:38px\9; overflow:hidden; background:url(../images/i_num.png) no-repeat 285px center; background-color:#FFF; color:#888888; font-size:14px; font-family:"Microsoft YaHei"; padding:0 40px 0 10px; border:1px solid #cccccc;
}
.l_ipt{
	width:127px; height:38px; line-height:38px\9; overflow:hidden; background-color:#FFF; color:#888888; font-size:14px; font-family:"Microsoft YaHei"; padding:0 10px; border:1px solid #cccccc;
}
.log_btn{
	width:318px; height:42px; line-height:42px\9; overflow:hidden; background-color:rgba(97, 191, 173, 0.5); color:#FFF; font-size:16px; font-family:"Microsoft YaHei"; text-align:center; padding:0; border:0; cursor:pointer; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;margin-top:3px;
}
.log_btn:hover{
background-color:rgba(97, 191, 173, 0.3); 
}

.regist{
	width:1200px; overflow:hidden;
}
.reg_c{
	width:475px; height:520px; overflow:hidden; background-color:#FFF; float:right; display:inline; margin-top:0; margin-right:10px; margin-bottom:10px; -webkit-box-shadow:0 0 5px #e0e0e0; -moz-box-shadow:0 0 5px #e0e0e0; box-shadow:0 0 5px #e0e0e0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
}




/*---------------分类列表---------------*/
.postion{
	width:1200px; height:40px; line-height:40px; overflow:hidden; font-family:"宋体";
}
.n_ch{
	height:23px; line-height:23px; overflow:hidden; float:left; display:inline; margin-left:10px; margin-top:7px; padding:0 10px; border:1px dashed #ff4e00;
}
.n_ch font{
	color:#ff3200;
}
.n_ch a{
	width:10px; height:9px; overflow:hidden; float:right; margin-top:7px; margin-left:5px;
}
table.choice{
	border-collapse:collapse; border:2px solid #cccccc;
}
table.choice tr td{
	border-bottom:1px solid #cccccc; padding:10px;
}
table.choice tr td.td_a{
	color:#888888;
}
table.choice tr td.td_a a{
	display:inline-block; margin:0 11px; color:#888888;
}
table.choice tr td.td_a a:hover, table.choice tr td.td_a a.now{
	color:#ff4e00;
}

.l_history{
	width:209px; overflow:hidden; float:left; border:1px solid #eaeaea;
}
.his_t{
	height:38px; line-height:38px; overflow:hidden; background:url(../images/h_t.gif) no-repeat 10px center; color:#ff4e00; font-size:16px; padding-left:22px; padding-right:10px; border-bottom:1px solid #eaeaea;
}
.his_t a{
	color:#888888; font-size:14px;
}
.l_history ul li{
	height:240px; overflow:hidden; border-bottom:1px solid #eaeaea;
}
.l_history ul li .img{
	width:185px; height:162px; overflow:hidden; margin-top:10px;
}
/*.l_history ul li .img img{
	-webkit-transition:all .5s; -moz-transition:all .5s; -o-transform:all .5s; -ms-transform:all .5s; transition:all .5s;
}
.l_history ul li:hover .img img{	
	-moz-transform:scale(1.1,1.1); -webkit-transform:scale(1.1,1.1); -o-transform:scale(1.1,1.1); -ms-transform:scale(1.1,1.1); transform:scale(1.1,1.1);
}*/
.l_history ul li .name{
	height:25px; line-height:25px; overflow:hidden; font-size:14px; text-align:center; margin-top:5px;
}
.l_history ul li .price{
	height:25px; line-height:25px; overflow:hidden; color:#999999; text-align:center; text-transform:uppercase;
}
.l_history ul li .price font{
	color:rgba(97, 191, 173, 0.8); font-size:14px;
}
.l_history ul li .price span{
	font-size:18px;
}

.l_list{
	width:972px; overflow:hidden; float:right; padding-bottom:30px;
}
.list_t{
	height:39px; line-height:39px; overflow:hidden; font-family:"宋体"; border-bottom:1px solid #eaeaea;
}
.list_or a{
	width:68px; height:23px; line-height:23px; overflow:hidden; color:#555555; text-indent:12px; float:left; display:inline; margin-right:-1px; margin-top:6px; border:1px solid #cccccc;
}
.list_or a:hover, .list_or a.now{
	color:#FFF; background-color:#ff4e00;
}
.list_or .i_up{
	width:15px; height:8px; line-height:8px; overflow:hidden; background:url(../images/i_up.gif) no-repeat center top; text-indent:-9999em; float:right; margin-top:6px; margin-right:8px;
}
.list_or .i_down{
	width:15px; height:8px; line-height:8px; overflow:hidden; background:url(../images/i_down.gif) no-repeat center top; text-indent:-9999em; float:right; margin-top:0px; margin-right:8px;
}

.list_c{
	overflow:hidden; margin:20px auto;
}
.list_c ul{
	overflow:hidden;
}
ul.cate_list{
	padding:5px 0;
}
ul.cate_list li{
	width:232px; height:316px; overflow:hidden; float:left; display:inline; margin:0 5px;
}
ul.cate_list li:hover{
	background-color:#FFF; -webkit-box-shadow:0 0 5px #e0e0e0; -moz-box-shadow:0 0 5px #e0e0e0; box-shadow:0 0 5px #e0e0e0;  
}
ul.cate_list li .img{
	width:208px; height:185px; overflow:hidden; margin-top:5px;
}
ul.cate_list li .price{
	width:208px; height:25px; line-height:25px; overflow:hidden; color:#999999; text-transform:uppercase; margin-top:10px;
}
ul.cate_list li .price font{
	color:#ff4e00; font-size:14px;
}
ul.cate_list li .price span{
	font-size:18px;
}
ul.cate_list li .name{
	width:208px; height:25px; line-height:25px; overflow:hidden; font-size:14px;
}
ul.cate_list li .carbg{
	width:209px; height:30px; overflow:hidden; font-family:"宋体"; margin-top:15px;
}
ul.cate_list li .carbg a.ss{
	width:68px; height:28px; line-height:28px; overflow:hidden; background:url(../images/heart.png) no-repeat 10px center; color:#888888; text-indent:33px; float:left; display:inline; margin-right:-1px; border:1px solid #cccccc;
}
ul.cate_list li .carbg a.ss:hover{
	color:#888888; background:url(../images/heart_h.png) no-repeat 10px center;
}
ul.cate_list li:hover .carbg a.ss{
	color:#888888; background:url(../images/heart_h.png) no-repeat 10px center;
}
ul.cate_list li .carbg a.j_car{
	width:138px; height:28px; line-height:28px; overflow:hidden; background:url(../images/cars.png) no-repeat 24px center; color:#ff4e00; text-indent:47px; float:left; display:inline; margin-right:-1px; border:1px solid #cccccc;
}
ul.cate_list li .carbg a.j_car:hover{
	color:#FFF; background:url(../images/cars_h.png) no-repeat 24px center; background-color:#ff4e00; border:1px solid #ff4e00;
}
ul.cate_list li:hover .carbg a.j_car{
	color:#FFF; background:url(../images/cars_h.png) no-repeat 24px center; background-color:#ff4e00; border:1px solid #ff4e00;
}

.pages{
	overflow:hidden; color:#888888; padding:20px 10px; text-align:right; font-size:16px; font-family:"宋体"; margin-top:20px;
}
.pages a{
	height:36px; line-height:36px; overflow:hidden; color:#666666; font-size:16px; text-align:center; display:inline-block; padding:0 12px; margin:0 4px; border:1px solid #cccccc; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
}
.pages a:hover, .pages a.cur{
	color:#FFF; background-color:#ff4e00; border:1px solid #ff4e00;
}
.pages a.p_pre:hover{
	background-color:#eaeaea; color:#555555; border:1px solid #cccccc;
}


.dd1{margin-left:27%;}

/*---------------商品详情---------------*/
.fav_t{
	height:28px; line-height:28px; overflow:hidden; background-color:#f6f6f6; font-size:14px; padding-left:10px;  border-bottom:1px solid #eaeaea;
}

.pro_des{
	width:520px; height:490px; overflow:hidden; float:left; display:inline; margin-left:30px;
}
.des_name{
	height:50px; line-height:25px; overflow:hidden; color:#888888; font-size:14px;
}
.des_name p{
	color:#3e3e3e; font-size:18px; font-weight:bold; margin:0; padding:0;
}
.des_price{
	height:64px; line-height:32px; overflow:hidden; font-family:"宋体"; margin-top:25px; margin-bottom:20px;
}
.des_price b{
	color:rgba(97, 191, 173, 1); font-size:20px; font-family:"Microsoft YaHei";
}
.des_price span{
	font-size:14px; font-family:"Microsoft YaHei";
}
.des_choice{
	line-height:40px; overflow:hidden; color:#888888; font-family:"宋体";
}
.des_choice ul li{
	height:28px; line-height:28px; overflow:hidden; font-size:14px; text-align:center; font-family:"Microsoft YaHei"; float:left; display:inline; margin-right:10px; margin-top:4px; margin-bottom:2px; padding:0 15px; border:1px solid #cccccc; cursor:pointer; position:relative;
}
.des_choice ul li:hover{
	height:26px; line-height:26px; padding:0 14px; overflow:hidden; border:2px solid rgba(97, 191, 173, 0.5);
}
.des_choice ul li .ch_img{
	width:18px; height:18px; overflow:hidden; background:url(../p/ch.png) no-repeat center top; position:absolute; right:0; bottom:0; display:none;
}
.des_choice ul li.checked{
	height:26px; line-height:26px; padding:0 14px; overflow:hidden; border:2px solid  rgba(97, 191, 173, 0.5);
}
.des_choice ul li.checked .ch_img{
	display:block;
}
.des_share{
	height:60px; overflow:hidden; margin-top:25px;
}
.des_share .d_sh{
	width:68px; height:27px; line-height:27px; background:url(../p/sh.png) no-repeat 0px 0px; text-indent:32px; font-family:"宋体"; float:left; border:1px solid #FFF; cursor:pointer; position:relative; 
}
.des_share .d_sh .d_sh_bg{
	width:176px; height:28px; overflow:hidden; border:1px solid #eaeaea; position:absolute; left:0; top:27px; display:none;
}
.des_share .d_sh .d_sh_bg a{
	overflow:hidden; text-indent:0; float:left; margin-left:10px; margin-top:6px;
}
.des_share .d_sh:hover{
	border:1px solid #eaeaea;
}
.des_share .d_sh:hover .d_sh_bg{
	display:block;
}
.des_share .d_care{
	height:27px; line-height:27px; overflow:hidden; background:url(../p/care.png) no-repeat left center; float:left; display:inline; margin-left:50px; padding-left:22px;
}

.des_join{
	height:45px; overflow:hidden; margin-top:20px;
}
.j_nums{
	width:78px; height:43px; overflow:hidden; float:left; display:inline; margin-right:10px; border:1px solid #cccccc;
}
.n_ipt{
	width:56px; height:43px; line-height:43px\9; background:none; color:#555555; font-size:18px; text-align:center; font-family:"Microsoft YaHei"; float:left; padding:0; border:0;
}
.n_btn_1{
	width:21px; height:21px; overflow:hidden; background:url(../images/jia.gif) no-repeat center top; float:right; border:0; border-left:1px solid #cccccc; border-bottom:1px solid #cccccc; cursor:pointer;
}
.n_btn_2{
	width:21px; height:21px; overflow:hidden; background:url(../images/jian.gif) no-repeat center top; float:right; border:0; border-left:1px solid #cccccc; cursor:pointer;
}

.s_brand{
	width:188px; height:188px; overflow:hidden; float:right; border:1px solid #eaeaea;
}
.s_brand_img{
	width:188px; height:132px; overflow:hidden; border-bottom:1px solid #eaeaea;
}
.s_brand_c{
	height:55px; line-height:55px; overflow:hidden; background-color:#f6f6f6; font-size:16px; text-align:center;
}

.des_border{
	overflow:hidden; margin-bottom:10px; border:1px solid #eaeaea;
}
.des_tit{
	height:28px; background-color:#f6f6f6; border-bottom:1px solid #eaeaea; position:relative;
}
.des_tit ul{
	width:100%; height:29px; position:absolute; left:0; top:0;
}
.des_tit ul li{
	width:110px; height:29px; line-height:27px; overflow:hidden; font-size:14px; text-align:center; float:left;
}
.des_tit ul li.current{
	width:109px; height:27px; overflow:hidden; background-color:#FFF; border-right:1px solid #FFF; border-top:2px solid rgba(97, 191, 173, 0.5); 
}
.des_t{
	height:38px; line-height:38px; overflow:hidden; background-color:#f6f6f6; color:rgba(97, 191, 173, 0.99); font-size:14px; text-indent:25px; border-bottom:1px solid #eaeaea; border-top:2px solid rgba(97, 191, 173, 0.5); 
}

.team_list{
	width:160px; height:195px; overflow:hidden; float:left; display:inline; margin:25px 30px;
}
.team_list .img{
	width:160px; height:140px; overflow:hidden;
}
.team_list .name{
	width:160px; height:25px; line-height:25px; overflow:hidden;
}
.team_list .price{
	height:25px; line-height:25px; overflow:hidden; color:#999999; text-align:center; text-transform:uppercase; position:relative;
}
.team_list .price font{
	color:rgba(97, 191, 173, 0.9); font-size:14px;
}
.team_list .price span{
	font-size:16px;
}
.team_list .price .checkbox{
	width:25px; height:20px; overflow:hidden; text-align:left; position:absolute; left:0; top:4px;
}
.team_icon{
	width:25px; height:25px; overflow:hidden; float:left; display:inline; margin:90px 0;
}
.team_sum{
	width:145px; height:125px; overflow:hidden; color:#ff4e00; float:left; display:inline; margin-left:20px; margin-top:50px;
}
.team_sum span{
	font-size:18px;
}
.sum_ipt{
	width:58px; height:23px; line-height:23px\9; background:none; color:#555555; font-size:16px; text-align:center; font-family:"Microsoft YaHei"; padding:0; margin:5px auto 10px auto; border:1px solid #eaeaea;
}

.des_con{
	overflow:hidden; margin:25px;
}

table.jud_tab{
	height:128px; overflow:hidden; margin:25px 20px 0 20px; border-collapse:collapse; border:1px solid #eaeaea;
}
.jud_per{
	color:#ff4e00; font-size:14px; text-align:center;
}
.jud_per p{
	margin:0; padding:0; font-size:34px; line-height:36px;
}
.jud_bg{
	background:url(../images/s_line.gif) no-repeat left center; padding:0 30px; font-family:"宋体"; line-height:22px;
}

table.jud_list tr td{
	border-collapse:collapse; border-bottom:1px solid #eaeaea; padding:20px; font-family:"宋体"; line-height:22px;
}



/*begin  mask layer  begin*/
.black_overlay{
	width:100%; height:100%; background:url(../images/box_bg.png) repeat center top; display:none; position:fixed; top:0%; left:0%; z-index:900;
}
.white_content{	
	width:540px; height:auto !important; min-height:100px; height:100px; background:url(../images/box.png) repeat center top; display:none; position:fixed; top:30%; left:50%; margin-left:-270px; z-index:901;
}
.white_d{
	width:520px; overflow:hidden; background-color:#FFF; margin:10px; padding-bottom:50px;
}
.notice_t{
	width:500px; height:30px; line-height:30px; overflow:hidden; font-size:16px; font-family:"Microsoft YaHei"; margin:1px auto;
}
.notice_c{
	width:480px; overflow:hidden; margin-top:10px; 
}
.b_sure{
	width:120px; height:40px; line-height:40px; overflow:hidden; background-color:#ff4e00; color:#FFF; font-size:14px; font-family:"Microsoft YaHei"; text-align:center; float:left; display:inline; margin-right:10px; border:0;
}
.b_sure:hover{
	color:#FFF;
}
.b_buy{
	width:118px; height:38px; line-height:38px; overflow:hidden; background-color:#f6f6f6; color:#ff4e00; font-size:14px; font-family:"Microsoft YaHei"; text-align:center; float:left; display:inline; margin-right:10px; border:1px solid #eaeaea;
}
.b_buy:hover{
	color:#ff4e00;
}
/*end  mask layer  end*/




/*---------------Footer---------------*/
.b_btm_bg{
	width:100%; min-width:1200px; height:122px; overflow:hidden; margin-top:30px;
}
.b_btm_c{
	background-color:#FFF;
}
.b_btm{
	width:1200px; height:122px; overflow:hidden;
}
.b_btm table{
	color:#888888; font-size:14px;
}
.b_btm table h2{
	color:#3e3e3e; font-size:16px; font-weight:normal;
}

.b_nav{
	width:1200px; overflow:hidden; margin:20px auto;
}
.b_nav dl{
	width:125px; height:165px; overflow:hidden; float:left; display:inline; margin-right:50px;
}
.b_nav dl dt{
	height:30px; line-height:30px; overflow:hidden; color:#3e3e3e; font-size:16px; margin-bottom:10px;
}
.b_nav dl dt a{
	color:#3e3e3e;
}
.b_nav dl dt a:hover{
	color:#3e3e3e; text-decoration:underline;
}
.b_nav dl dd{
	height:24px; line-height:24px; overflow:hidden; color:#888888; 
}
.b_nav dl dd a{
	color:#888888;
}
.b_nav dl dd a:hover{
	color:#ff4e00;
}


.b_tel_bg{
	width:133px; height:140px; overflow:hidden; color:#888888; float:right; margin-top:5px;margin-left:-19%;
}
.b_tel_bg a.b_sh1{
	width:100%; height:35px; line-height:35px; overflow:hidden; background:url(../images/b_sh_1.png) no-repeat left center; color:#888888; font-size:14px; text-indent:32px; display:inline-block;
}
.b_tel_bg a.b_sh1:hover{
	color:grey;
}
.b_tel_bg a.b_sh2{
	width:100%; height:35px; line-height:35px; overflow:hidden; background:url(../images/b_sh_2.png) no-repeat left center; color:#888888; font-size:14px; text-indent:32px; display:inline-block;
}
.b_tel_bg a.b_sh2:hover{
	color:#ff4e00;
}
.b_tel_bg p{
	margin-top:10px;
}
.b_tel_bg p span{
	color:grey; font-size:18px;
}

.btmbg{
	width:100%; min-width:1200px; overflow:hidden; padding:30px 0 40px 0; border-top:1px solid #eaeaea;
}
.btm{
	width:1200px; overflow:hidden; color:#999999; font-family:"宋体"; text-align:center;
}
.b_tel_bgg{
margin-left:-19%;

}
.btm a{
	color:#999999;
}
.btm a:hover{
	color:#999999; text-decoration:underline;
}
.btm img{
	display:inline-block; margin:15px 5px 5px 5px; border:1px solid #d9d9d9; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
}



